
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, amp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp
{
    margin: 0;
    padding: 0;
}
body
{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    width: 100%;
}
.mainContainer, .wrap
{
    margin: 0 auto;
    position: relative;
}
.mainContainer
{
    height: 100%;
    width: 100%;
}
.wrap
{
    width: 1031px;
}
h1, h2, h3, h4, h5, h6, p
{
    margin-bottom: 12px;
}
p
{
    text-align: justify;
}
a
{
    cursor: pointer;
}
.marginLeft
{
    margin-left: 10px !important;
}
.marginRight
{
    margin-right: 10px !important;
}
.marginTop
{
    margin-top: 10px !important;
}
.marginBottom
{
    margin-bottom: 10px !important;
}
.nomarginLeft
{
    margin-left: 0 !important;
}
.nomarginRight
{
    margin-right: 0 !important;
}
.nomarginTop
{
    margin-top: 0 !important;
}
.nomarginBottom
{
    margin-bottom: 0 !important;
}
.nomargin
{
    margin: 0 !important;
}
.margin
{
    margin: 0 !important;
}
.marginAuto
{
    margin: 0 auto !important;
}
.paddingLeft
{
    padding-left: 10px !important;
}
.paddingRight
{
    padding-right: 10px !important;
}
.paddingTop
{
    padding-top: 10px !important;
}
.paddingBottom
{
    padding-bottom: 10px !important;
}
.nopaddingLeft
{
    padding-left: 0 !important;
}
.nopaddingRight
{
    padding-right: 0 !important;
}
.nopaddingTop
{
    padding-top: 0 !important;
}
.nopaddingBottom
{
    padding-bottom: 0 !important;
}
.nopadding
{
    padding: 0 !important;
}
.padding
{
    padding: 10px !important;
}
.floatLeft
{
    float: left !important;
}
.floatRight
{
    float: right !important;
}
.nofloat
{
    float: none !important;
}
.alignLeft
{
    text-align: left !important;
}
.alignRight
{
    text-align: right !important;
}
.alignJustify
{
    text-align: justify !important;
}
.alignCenter
{
    text-align: center !important;
}
.positionRelative
{
    position: relative;
}
.positionAbsolute
{
    position: absolute;
}
.noborderLeft
{
    border-left: medium none !important;
}
.noborderRight
{
    border-right: medium none !important;
}
.noborderTop
{
    border-top: medium none !important;
}
.noborderBottom
{
    border-bottom: medium none !important;
}
.column-350
{
    width: 350px;
}
.column-350.marginLeft
{
    margin-left: 22px !important;
}
.column-285
{
    width: 285px;
}
.column-415
{
    width: 415px;
}
.column-240
{
    width: 240px;
}
.column-155
{
    width: 155px;
}
.column-490
{
    width: 490px;
}
.column-260
{
    width: 260px;
}
.column-260.paddingleft
{
    padding-left: 20px;
}
.nobg
{
    background: none repeat scroll 0 0 transparent !important;
}
a, input, textarea, img
{
    outline: medium none;
}
ul, ol
{
    list-style: none outside none;
}
textarea
{
    resize: none;
}
.clearfix
{
    clear: both;
}
.clearfix:after
{
    clear: both;
    content: "";
    display: block;
    height: 0;
    width: 0;
}
.imgleft
{
    float: left;
    margin-bottom: 6px;
    margin-right: 8px;
}
.imgright
{
    float: right;
    margin-bottom: 6px;
    margin-left: 8px;
}
.imgBoeder
{
    border: 3px solid #D1D1D1;
}
.box
{
    border: 1px solid #EEEEEE;
    padding: 10px;
}
.box div
{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #EEEEEE;
    padding: 10px;
}
.box div div
{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
a.largBtn, a.largBtn span
{
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.01em;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
}
a.largBtn
{
    background: url("../images/largBtn.png") no-repeat scroll right -41px transparent;
    padding-right: 25px;
}
a.largBtn span
{
    background: url("../images/largBtn.png") repeat-x scroll 0 0 transparent;
    padding: 0 20px 0 15px;
}
a.largBtn:hover
{
    background: url("../images/largBtn.png") no-repeat scroll right -132px transparent;
}
a.largBtn:hover span
{
    background: url("../images/largBtn.png") repeat-x scroll 0 -91px transparent;
    padding: 0 21px 0 15px;
}
a.smallBtn, a.smallBtn span
{
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.95em;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    text-transform: uppercase;
}
a.smallBtn
{
    background: url("../images/smallBtn.png") no-repeat scroll right -33px transparent;
    padding-right: 18px;
}
a.smallBtn span
{
    background: url("../images/smallBtn.png") repeat-x scroll 0 0 transparent;
    padding: 0 12px 0 15px;
}
a.smallBtn:hover
{
    background: url("../images/smallBtn.png") no-repeat scroll right -101px transparent;
}
a.smallBtn:hover span
{
    background: url("../images/smallBtn.png") repeat-x scroll 0 -68px transparent;
}
a.roundBtn, a.roundBtn span
{
    color: #FFFFFF;
    display: inline-block;
    font-size: 0.92em;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
}
a.roundBtn
{
    background: url("../images/roundBtn.png") no-repeat scroll right -36px transparent;
    padding-right: 14px;
}
a.roundBtn span
{
    background: url("../images/roundBtn.png") repeat-x scroll 0 0 transparent;
    padding: 0 18px 0 30px;
}
a.roundBtn:hover
{
    background: url("../images/roundBtn.png") no-repeat scroll right -108px transparent;
}
a.roundBtn:hover span
{
    background: url("../images/roundBtn.png") repeat-x scroll 0 -72px transparent;
}
