.mainmenu
{
    float: left;
    width: 100%;
    height:45px;
}


#ns_nav-main li li.ns_last
{
    border-bottom: 1px solid #009BE2;
}
#ns_nav-sub-wrap
{
    display: block;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}
#ns_nav-sub
{
    font-family: Calibri,Arial;
    font-size: 14px;
    list-style: none outside none;
}

#ns_nav-sub a:hover
{
    color: #FFCA88;
    text-decoration: none;
}
#ns_nav-sub li:first-child a:hover
{
    color: #FFCA88;
    text-decoration: none;
}
#ns_nav-sub li li:first-child a:hover
{
}
#ns_nav-sub li
{
    border-left: 1px solid #FFCA88;
    float: left;
    margin: 0;
    position: relative;
    height:45px;
    
}
#ns_nav-sub li.ns_first
{
    border-left: 0 none;
}
#ns_nav-sub li a
{
    
    border-left: none;
    color: #FFF;
    cursor: pointer;
    display: block;
   padding: 12px 25px 0;
    text-decoration: none;
    font-weight: bold;
    height:33px;
    
}
#ns_nav-sub li:hover, #ns_nav-sub li.selected, #ns_nav-sub li.over
{
    /* background: none repeat scroll 0 0 #EFEFEF;*/
    text-decoration: none;
}
#ns_nav-sub .ns_icon-tiny
{
    background-position: -1000px -17px;
    position: absolute;
    right: 12px;
    top: 22px;
}
#ns_nav-sub li ul
{
    background-size: 1% 100%;
    background-image: url('images/bar_yellow.jpg');
    display: none;
    list-style: none outside none;
    margin-left: -1px;
    position: absolute;
    width: 200px;
    z-index: 10;
}
#ns_nav-sub li:hover ul, #ns_nav-sub li.over ul
{
    display: block;
}
#ns_nav-sub li li
{
    border-left: 0 none;
    border-top: 1px solid #FFCA88;
    width: 100%;
}
#ns_nav-sub li li a
{
    padding-bottom: 10px;
    padding-top: 10px;
}
#ns_nav-sub li li a:hover
{
    color: #FFCA88;
}
#ns_nav-sub li li:last-child a:hover
{
    color: #FFCA88;
}

.ns_round, a.ns_btn-small, a.ns_btn, a.ns_btn-big, .ns_box, .ns_form button, #ns_box-login, .ns_selector, #ns_top-right .ns_logged-in .ns_bnote, .ns_generic, #ns_nav-sub-wrap, .ns_form input[type="file"], .ns_form input, .ns_form textarea, .ns_form select, .contest_stats, .ns_bubble, .ns_form .ns_radio-btn li, .ns_checkbox-big li, ul.ns_list-box-5 li a, ul.ns_logo-type li, button.ns_btn, ul.ns_list-box-4 li a, .ns_pagination span, .ns_pagination a, .ns_pagination .current.prev, ul.ns_list-box-3 li, table.ns_generic, .ns_code, .ns_tooltip, ul.ns_contest-type li span.ns_icon, .ns_landing-page .ns_contest-panel, .ns_contest-table, .ns_gallery li.ns_entry, ul.ns_milestones li, .ns_contact-pic, ul.ns_skills-bubble li, .ns_designstudio-hiw, .ns_status-box, .ns_level-up, ul.ns_sub-balance, .ns_toggle.ns_expand, .ns_toggle.ns_collapse, .ns_profile-pic, .ns_avg-rating
{
}
.ns_round-bottom, #ns_nav-main li ul, .ns_fancy-panel, #ns_nav-sub li ul, #ns_nav-sub li ul li.ns_last a:hover, #ns_nav-main li li.ns_last, #ns_nav-main li li.ns_last a:hover, .ns_total, table.ns_generic, .ns_box-half.ns_box-bottom
{
}
.ns_round-top, .ns_box .ns_top, .ns_login-on, .ns_price-box, #ns_box-country, .ns_box-half.ns_box-top, .ns_avg-rating h2
{
}
.ns_round-top-left, table.ns_contest th:first-child, table.ns_generic th:first-child, .dataTable thead tr th:first-child, .ns_notify.ns_generic .ns_sidebar, .ns_table th:first-child, .ns_gamification-dropdown
{
}
.ns_round-top-right, table.ns_contest th:last-child, table.ns_generic th:last-child, .dataTable thead tr th:last-child, .ns_table th:last-child, #ns_nav-sub li.ns_last a:hover
{
}
.ns_round-bottom-right, ul.ns_gallery .ns_num, #ns_nav-sub li.ns_last a:hover, .ns_gamification-dropdown
{
}
.ns_round-bottom-left, .ns_zoom-btn, .ns_notify.ns_generic .ns_sidebar, .ns_gamification-dropdown
{
}
.ns_round-left, #ns_banner .ns_ebook input, #ns_searchbox
{
}
.ns_round-right, #ns_banner .ns_ebook button, .ns_btn.ns_openid .ns_status.ns_selected
{
}
.ns_round-3, .ns_form input[type="file"], .ns_form input, .ns_form textarea, .ns_form select, .ns_notify, .ns_contacts.ns_search-box, ul.ns_filter li.ns_current, .ns_close, .ns_rate-bubble
{
}
ul.ns_sidenav li.selected a:hover
{
    color: #FFFFFF !important;
}
ul.ns_sidenav li a
{
    color: #333333;
    height: 44px;
    line-height: 40px;
    padding-left: 20px;
}
ul.ns_sidenav li a:hover
{
    color: #008BCB !important;
    text-decoration: none !important;
}
dt, ul
{
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
ul.list-style-none, ul.list-style-none li
{
    list-style-type: none;
}
